
body{
    background: rgb(239, 239, 239);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background: rgb(0, 100, 255);
    width: 100%;
    height: auto;
    padding-bottom: 2px;
    padding-top: 2px;
}

footer{
    position: fixed;
    background: rgb(0, 100, 255);
    width: 100%;
    height: auto;
    bottom: 0;
    font-size: 1em;
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-size: 2em; 
    color: whitesmoke; 
    text-align: center;
}

div{
    padding-left: 20px;
}

.page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px,auto);
}

.measure_data{
    grid-column: 1/2;
    grid-row: 1/2;
}

.message{
    grid-column: 1/2;
    grid-row: 2/2;
    margin-top: -20px;
}

.textbox{
    border: solid;
    border-color: rgb(133, 146, 158);
    border-width: 5px;
    background: rgb(199, 207, 213);
    border-radius: 10px;
    /* align all text boxes */
    width: 90%;
    height: 100%;
}

.graph h2{
    text-align: center;
    font-size: 2em;
}

.graph{
    height: auto;
    width: auto;
    position: relative;
    grid-column: 2/2;
    grid-row: 1;
    background: black;
    color: whitesmoke;
    margin: auto;
    margin-top: -50px;
    top: 50%;
    border-radius: 5px;
    height: max-content;
    width: max-content;
    padding: 10px;
}

@media screen and (max-width: 900px){


    .page{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        grid-auto-rows: minmax(100px,auto);
    }

    .measure_data{
        grid-column: 1/1;
        grid-row: 1/3;
    }
    
    .message{
        grid-column: 1/1;
        grid-row: 2/3;
        padding-top: 40px;
        margin-top: 0;
    }
    
    .graph{
        grid-column: 1/1;
        grid-row: 3/3;
        background: black;
        color: whitesmoke;
        margin: auto;
        border-radius: 5px;
        border: solid;
        border-color: rgb(133, 146, 158);
        border-bottom-width: 100px;
        top:0;
        bottom: 50%;
        height: max-content;
        width: max-content;
        padding: 10px;
    }
}
